.selected-item {
  background-color: var(--grey-240) !important;
}


.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  background-color: var(--bg-color) !important;
  max-height: 20rem !important;
  overflow: auto !important;

  &::before {
    background-color: var(--bg-color) !important;
  }

  li {
    color: var(--text-color) !important;
  }
}