.create-event-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  span {
    color: var(--red-color);
  }

  .event-container {
    max-width: 60rem;
    margin: 0 auto;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border: 1px solid var(--border-color);
      border-radius: 1rem;
      padding: 0.5rem 1rem;

      .form-title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-color);
        text-align: center;
      }

      .back-button {
        cursor: pointer;
        height: auto;
        width: 3rem;
      }
    }
  }

  .event-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);

    label {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--text-color);
      font-weight: 600;
      margin: 0 !important;
      padding: 0 !important;
      margin-bottom: 0.2rem !important;
    }

    input,
    textarea {
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
      border: 1px solid var(--border-color);
      border-radius: 0.5rem;
      color: var(--text-color);
      outline: none;
      background-color: transparent;
    }

    input[type="file"] {
      display: none;
    }

    .file-upload {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 1px solid var(--border-color);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;

      .file-upload-button {
        padding: 0.5rem 1rem !important;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        color: var(--text-color);
        cursor: pointer;
      }

      .file-name {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--text-color);
      }
    }

    .create-button {
      width: auto;
      padding: 0;
      margin: 0 0 0 auto;

      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        text-transform: none;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--grey-200);
        color: var(--text-color);
        cursor: pointer;
        outline: none;
      }
    }
  }
}