.create-event-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  span {
    color: var(--red-color);
  }

  .event-container {
    max-width: 60rem;
    margin: 0 auto;

    .header {
      margin-bottom: 1rem;
      border-radius: 1rem;
      padding: 0.5rem 1rem;

      .form-title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-color);
        text-align: center;
      }

      .back-button {
        cursor: pointer;
        height: auto;
        width: 3rem;
      }
    }
  }
}