.fp-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .fp-container {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    width: 25rem;

    .fp-header {
      margin: 0 auto;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: var(--text-color);
        text-align: center;
      }
    }

    .fp-content {
      p {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-color);
        text-align: center;
      }

      input {
        width: 100%;
        height: 3rem;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        color: var(--text-color);
        outline: none;
        margin: 1rem 0;
        background-color: transparent;
        padding: 0 1rem;
      }

      button.submit-button {
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--button-color);
        color: var(--button-text-color);
        cursor: pointer;
        outline: none;
        text-transform: none;
      }

      button.resend-button {
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--green-color);
        color: var(--button-text-color);
        cursor: pointer;
        outline: none;
        text-transform: none;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}